{% extends 'layouts/navbar.html' %}

{% block title %} Правила {% endblock %}

{% block content %}
    <div class="bulletin-board">
        <h2 style="text-align: center;">Правила</h2>
        <ol style="text-align: left;">
            <li><strong>Основные правила</strong></li>
            <ol>
                <li>Игроки несут ответственность за соблюдение правил, независимо от их знания о них.</li>
                <li>Присоединившись к нашим серверам, вы автоматически соглашаетесь с данными правилами.</li>
                <li>Администратор может забанить игрока  по обстоятельствам, не упомянутым в этих правилах.</li>
                <li>Администрация не несет ответственности за временные или постоянные проблемы с доступом к серверу для отдельного игрока или группы игроков.</li>
                <li>Администрация не отвечает за потерю игровых ценностей в результате сбоев сервера или его плагинов.</li>
                <li>Мы не можем гарантировать постоянную работоспособность сервера или сохранность информации на нем.</li>
                <li>Администрация сервера не гарантирует стабильность предоставления услуг и сервисов, и не несет ответственности за возможные убытки, вызванные сбоями в связи, неправильным использованием услуг, программными ошибками или другими проблемами.</li>
                <li>Все игроки обязаны следовать установленным правилам.</li>
                <li>Администрация ведет журналы всех действий игроков и сообщений чата на сервере.</li>
                <li>Администрация оставляет за собой право вносить изменения в данные правила без предварительного уведомления игроков.</li>
                <li>Запрещено оскорбление и провокация администрации.</li>
            </ol>
            <li><strong>Правила чата</strong></li>
            <ol>
                <li>Уважайте других игроков и поддерживайте дружественную атмосферу.</li>
                <li>Избегайте использования нецензурной лексики и оскорбительных высказываний.</li>
                <li>Не распространяйте нежелательный контент или информацию.</li>
                <li>Соблюдайте тематику чата и оставайтесь в пределах игровых обсуждений.</li>
                <li>Будьте дружелюбными и готовы помогать другим игрокам.</li>
                <li>Выполняйте указания администрации и соблюдайте их правила.</li>
                <li>Избегайте спама и повторения сообщений.</li>
                <li>Сохраняйте конфиденциальность личной информации.</li>
                <li>Запрещается рекламировать другие сервера не относящиеся к проекту.</li>
                <li>Обращайтесь к администрации при возникновении конфликтов или проблем.</li>
            </ol>
            <li><strong>Игровые правила</strong></li>
            <ol>
                <li>Использование любых модов, а именно:</li>
                <ol>
                    <li>Модов дающих явное преимущество  над другими игроками.</li>
                    <li>Моды позволяющие видеть сквозь блоки: X-ray, FreeCam и все его разновидности, моды для подсветки сундуков и всех видов хранилища.</li>
                    <li>Моды для PvP и PvE: все виды аур, изменений хитбокса, моды на постоянные криты.</li>
                    <li>Моды на передвижение.</li>
                    <li>Запрещено пользоваться любыми читами, скриптами, кликерами.</li>
                </ol>
                <li>Запрещено вызывание неполадок в работе сервера или попытки обрушить сервер, путем специально вызванных лагов или подобного.</li>
                <li>Запрещено выдавать себя за Администрацию.</li>
                <li>Запрещено использование, скрытие багов, недоработок сервера.</li>
                <li>Запрещено строительство половых органов и нацистских символов.</li>
                <li>Запрещено мошенничество, обман администрации.</li>
            </ol>
        </ol>
    </div>

{% endblock %}